body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    background-image: url('jogodavelha.jpg'); /* Corrigido a sintaxe das aspas */
    background-size: cover;
    background-position: center;
}

.game-container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(34, 255, 0);
    border: 1px solid #11ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adicionado para transição suave */
}

.cell:hover {
    background-color: #59ff00; /* Cor de fundo ao passar o mouse */
}

.winning-cell {
    background-color: yellow; /* Adicionada para destacar células vencedoras */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(0, 255, 13);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(0, 0, 0);
}